<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Root</title>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>

        <h1>Minimal web portal consuming our API REST about Covid-19 tests</h1>

        <div id=container>
            <h3>Information about Covid-19</h3>
            <button><a href="/">Root</a></button>
            <br><br>
            <button><a href="/tests">Manufacturers of covid tests</a></button>
            <br><br>
            <a href="https://github.com/aylabs/devops">Project home</a>
        </div>
    <footer>
        <img id="logo" src="static/logo-covid.png">
    </footer>
    </body>
</html>
